<!DOCTYPE html>
<html lang="en">
<head>
<link  rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body>
<th:block th:replace="fragment/header :: headerFragment"></th:block>
<th:block th:replace="fragment/header :: navFragment"></th:block>
    <table>
        <tr>
            <th>isbn</th>
            <th>title</th>
            <th>날짜</th>
            <th>읽은 시간</th>
            <th>끝낸 시간</th>
            <th>rating</th>
            <th>comment</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</body>

</html>